{%extends 'layout.html'%}

{%block content%}

<div class = 'mx-auto'>
        <h3> Posts</h3>
        {%for post in posts%}
        <div class='card mt-2'>
                <small class = 'ml-3 mt-2'>
                        By <strong>{{post.author.username}}</strong>
                        on {{post.date_posted.strftime('%d-%m-%Y')}}
                </small>
                <br>
                <div class='card body'>
                        <h5 class='card-title'><a href = "{{url_for('get_post',post_id=post.id)}}">{{post.title}}</a></h5>
                        <p class= 'card-text'>{{post.description}}</p>
                </div>
        </div>
        {%endfor%}
</div>




{%endblock%}